@import 'jeet'

edit()

html
  font-family sans-serif
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
    margin 0

aside
  span(1/4)
  position fixed
  background-color #111
  padding 20px
  top 0
  left 0
  bottom 0

article
  span(3/4)
